.detailsH1 {
    font-size: 60px;
    margin-bottom: 60px;

}

.aboutPost {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.postImage {
    height: 600px;
    object-position: top;
    object-fit: cover;
}

.descriptionPost {
    display: flex;
    margin-top: 60px;

}


.postH3 {
    font-size: 32px;
    width: 50vw;
    padding: 0;
    margin: 0;
}

.authorAvatar {
    width: 32px;
    height:32px;
    border-radius: 100%;
    border: 1px solid black;
    margin-right: 4px;

}
.authorInfo{
    display: flex;
    align-items: center;

}
.authorData{
    margin-right: 8px;
    font-weight: 600;
}

.createdAt{
    color: grey;
    font-size: 14px;
    margin-left: 16px;
}