.cardShadow:hover {
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2), 0 8px 16px rgb(96 97 112 / 16%);

}


.cardFooter__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.cardFooter__favorite {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  gap: 10px;
}

.boxSvg {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: large;
  color: #937b98;
  margin-top: 20px;
  margin-right: 20px;

}

.boxSvg:hover {
  cursor: pointer;
  stroke: rgb(231, 61, 31);
}

.boxComm {
  display: inline-flex;
  align-items: center;
  gap: 3px;
  color: inherit;

}

.boxComm:hover {
  cursor: pointer;
}

.cardFooter__date {
  display: flex;
}

.cardInfo_wrap_like_tags {
  background-color: #ccc;

}

.pointer {
  cursor: pointer;
}

.userInfoWrapper {
  display: flex;

}

.userInfoWrapper>* span {
  text-align: left;
  color: #333;
}

.commentWrapper {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.commentWrapper:not(:first-child) {
  border-top: 1px solid #ccc;

}

.userInfoComment>* span {
  font-size: 0.75rem;
}

.commentText {
  color: #2d2d2d;
  font-size: 1rem;
  white-space: break-spaces;
  word-break: break-all;
  line-height: 26px;
  font-size: 0.9rem;
}

.postDescription {
  color: #000;
}

.btnBackWrapper {
  margin-bottom: 20px;
}

/* Форма Добавления отзыва */

.formComment {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  margin-top: 20px;
}

.formComment h2 {
  margin: 0;
  color: #161616;
}

.formComment textarea {
  min-height: 200px;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  font-size: 1rem;
  color: #2d2d2d;

}

.errorComment {
  color: red;
}