.wrapper {
    padding: 48px 24px;
    background-color: #fff;
    margin-bottom: 24px;
    border-radius: 4px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2), 0 8px 16px rgb(96 97 112 / 16%);

    background: rgb(214, 223, 232);
    background: -moz-linear-gradient(0deg, rgba(214, 223, 232, 1) 17%, rgba(136, 185, 223, 0.9500393907563025) 72%);
    background: -webkit-linear-gradient(0deg, rgba(214, 223, 232, 1) 17%, rgba(136, 185, 223, 0.9500393907563025) 72%);
    background: linear-gradient(0deg, rgba(214, 223, 232, 1) 17%, rgba(136, 185, 223, 0.9500393907563025) 72%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d6dfe8", endColorstr="#88b9df", GradientType=1);
}